@import "twitter/bootstrap";
@import "twitter/responsive";

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.navbar .brand {
  padding: 10px 20px 10px;
}

section.signals, section.modules {
  position: relative;
  border: 1px solid #555;

  .navbar {
    font-size: 12px;
  }

  &:after {
    content: ".";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
  }
}
