@import "twitter/bootstrap";
@import "twitter/responsive";

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.navbar .brand {
  padding: 10px 20px 10px;
}

section.signals, section.modules {
  position: relative;

  .navbar {
    font-size: 12px;
  }

  &:after {
    content: ".";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
  }

  .table-striped {
    tbody {
      tr:nth-child(odd) td,
      tr:nth-child(odd) th {
        background-color: #eee;
      }

      tr:hover td,
      tr:hover th {
        background-color: #ddd;
      }
    }
  }
}
