@import "twitter/bootstrap";
@import "twitter/responsive";

section.signals, section.modules {
  position: relative;
  border: 1px solid #555;

  &:after {
    content: ".";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
  }
}
